# Ignore virtual environment
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and environment files
*.log
.env

# Ignore IDE and OS-specific files
.vscode/
.idea/
*.DS_Store

# Ignore large binaries and temporary data
*.dll
*.so
*.dylib
